{% comment %}
  Display lifestyle images from product metafield
  
  @param product - Product object
  @param section - Section object (for settings)
{% endcomment %}

{% if section.settings.enable_lifestyle_images and product.metafields.custom.lifestyle_image.value != blank %}
  <div class="scroll-carousel-wrapper">
    {% for image in product.metafields.custom.lifestyle_image.value %}
      <div class="lifestyle-image">
        {%
          render 'rimg',
          img: image,
          lazy: true,
          size: '1200x'
        %}
      </div>
    {% endfor %}
  </div>
{% endif %}

{% style %}
  .scroll-carousel-wrapper {
    margin-top: var(--gap-size-md, 1rem);
    display: none;
  }

  @media screen and (min-width: 768px) {
    .scroll-carousel-wrapper {
      display: block;
    }
  }

  .lifestyle-image {
    width: 100%;
    height: 550px;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  .lifestyle-image:last-child {
    margin-bottom: 0;
  }

  .lifestyle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
{% endstyle %}
