{% comment %}
  Display lifestyle images from product metafield
  
  @param product - Product object
  @param section - Section object (for settings)
{% endcomment %}

{% if section.settings.enable_lifestyle_images and product.metafields.custom.lifestyle_image.value != blank %}
  <div class="scroll-carousel-wrapper">
    <div class="product-vertical-carousel owl-carousel">
      {% for image in product.metafields.custom.lifestyle_image.value %}
        <div class="carousel-cell">
          {%
            render 'rimg',
            img: image,
            lazy: true,
            size: '1200x'
          %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% style %}
  /* Styles for Lifestyle Images Metafield */
  .scroll-carousel-wrapper {
    margin-top: var(--gap-size-md, 1rem);
  }

  .product-vertical-carousel {
    display: flex;
    flex-direction: column;
    gap: var(--gap-size-sm, 0.5rem);
  }

  .product-vertical-carousel .carousel-cell {
    height: 550px;
    overflow: hidden;
  }

  .product-vertical-carousel .carousel-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* If owl-carousel is available, it will override these styles */
  .owl-item .carousel-cell {
    height: 550px;
    overflow: hidden;
  }

  .owl-item .carousel-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
{% endstyle %}

