.richtext-section--parallax {
  overflow: hidden;
}

.richtext-section__image--parallax {
  width: 100%;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
}

@media screen and (max-width: 767px) {
  .richtext-section__image--parallax {
    display: none;
  }
  
  .richtext-section__image--mobile {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .richtext-section__image--mobile {
    display: none;
  }

  .product__record-sample {
    margin-top: 30px;
    margin-bottom: 15px;
  }
}

.product__record-sample {
  margin-top: 20px;
  margin-bottom: 15px;
}

.moreless-button {
  display: none;
}

.product-gallery__wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.custom-gallery__wrapper {
  transition: opacity 0.2s ease-in-out;
  will-change: opacity;
  position: relative;
  isolation: isolate;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.custom-gallery__wrapper.updating {
  opacity: 0;
  pointer-events: none;
}

.custom-gallery__wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-gallery__wrapper .swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}


.mySwiper .swiper-slide {
  border: 1px solid transparent;

  img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: auto;
  }
}

.mySwiper .swiper-slide.swiper-slide-thumb-active {
  border: 1px solid #000;
}

.swiper.mySwiper {
  padding-top: 15px;
  padding-bottom: 15px;
  transition: opacity 0.15s ease-in-out;
}

.swiper.mySwiper2 {
  transition: opacity 0.15s ease-in-out;

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 4px 16px 1px rgba(0, 0, 0, 0.2);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;

    svg {
      width: 15px;
      height: 15px;
      stroke: #000;
      stroke-width: 0.5px;
      pointer-events: none;
    }
  }

  .swiper-button-prev {
    left: 15px;

    svg {
      margin-left: -2px;
    }
  }

  .swiper-button-next {
    right: 15px;

    svg {
      margin-right: -2px;
    }
  }
}

.hidden-image.swiper-slide {
  display: none;
}

@media screen and (max-width: 767px) {
  .swiper.mySwiper2 {
    .swiper-button-prev {
      left: 5px;
  
      svg {
        margin-left: -2px;
      }
    }
  
    .swiper-button-next {
      right: 5px;
  
      svg {
        margin-right: -2px;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 30px;
      height: 30px;
  
      svg {
        width: 12px;
        height: 12px;
        pointer-events: none;
      }
  }
}