.richtext-section--parallax {
  overflow: hidden;
}

.richtext-section__image--parallax {
  width: 100%;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
}

@media screen and (max-width: 767px) {
  .richtext-section__image--parallax {
    display: none;
  }
  
  .richtext-section__image--mobile {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .richtext-section__image--mobile {
    display: none;
  }

  .product__record-sample {
    margin-top: 30px;
    margin-bottom: 15px;
  }
}

.product__record-sample {
  margin-top: 20px;
  margin-bottom: 15px;
}

.moreless-button {
  display: none;
}